  body {
    background-color: #F3F5FC;
  }

  .main-container {
    display: flex;
    flex-direction: row;
  }

  .conteiner-left {
    display: flex;
  }
  
  .logo-div {
    display: flex;
    margin: 1rem 1rem;
    width: 120px;
  } 

  .logo-div img {
    width: 120px;
    height: 48px;
  }
  
  .textarea-div {
    display: flex;
    margin: 6.25rem 4rem 0 0;
  }
  
  .textarea-div textarea {
    width: 37.5rem;
    height: 20rem;
    background-color: #F3F5FC;
    border: none;
    border-radius: .94rem;
    padding: .8rem;
    font-size: 2rem;
    text-align: left;
    color: #0A3871;
    resize: none;
  }

  .textarea, #textarea textarea:focus {
   outline: none;
  }

  /*Cor do placeholder para todos os navegadores*/
  .textarea-div textarea::placeholder {
    color: #0A3871;
  }

  .textarea-div textarea:-moz-placeholder { /* Firefox 18- */
    color: #0A3871;
  }

  .textarea-div textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #0A3871 
 }

  .textarea-div textarea:-ms-input-placeholder { 
    color: #0A3871;
  }

  .container-right {
    display: flex;
    background-color: #FFF;
    border-radius: 1.25rem;
    margin-top: 2rem;
    padding: 2rem 0 4rem 0;
  }

  .return-text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    height: 90%;
    width: 30rem;
    margin-top: 3rem;
    }

    .return-text-div img {
        width: 300px;
    }
  
  .texts {
    color: #343A40;
    text-align: center;
    width: 20rem;
    margin-top: 2rem;
    padding: .5rem .8rem;
  } 

  .texts h1 {
    margin-bottom: .8rem;
  }